<h1>MORE STUFFS</h1>
<h2> you searched for <%=@job%> in <%=@city%>! </h2>

<table>
  <tr>
    <th>Here are some DOCUMENTS!</th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= link_to document.url, document.url %></td>
  </tr>
<% end %>
</table>