<p>Adding your document</p>
<p class="txt-sm"> Welcome, <%= session[:fbuser]['first_name'] %>! Thanks for contributing to our resources for people who are moving to a new city and want to learn about their community.</p>
<br>
<%= render 'form' %>

