<h1>HOORAY YOU WIN!</h1>

<p>You should receive an email to the address you included to confirm your submission. Please confirm before your submission will appear. You will also need to receive validation from the administrator which may take up to a day. Thanks for your patience!</p>
