<p>HOORAY YOU WIN!</p>

<p class="txt-sm">We have your submission! You won't be able to see it on the site until I double check and makes sure that everything is good to go. Questions or comments? <a href=mailto:"ellen.chisa@gmail.com"> Email me. </a></p>
