// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
text-align:center;
margin-top:200px;
font-size: 40pt;
font-family:Helvetica, Sans-Serif;
font-weight: normal;
}

select{
  border:none;
  border-bottom:3px black solid;
  width:250px;
  font-size:40pt;
  font-family:Helvetica, Sans-Serif;
  -webkit-appearance:none;
}

h2{
  text-align:center;
}

#submit-button{
  text-align:center;
}