// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

h1{
text-align:center;
margin-top:200px;
font-size: 40pt;
font-weight: normal;
}

select{
  border:none;
  border-bottom:3px black solid;
  min-width:250px;
  font-size:40pt;
  font-family:Helvetica, Sans-Serif;
  -webkit-appearance:none;
  padding:0 10px;
}

h2{
  text-align:center;
}

p{
font-size: 50px;
margin-bottom: 5px;
}

#letter{
    width:60%;
    text-align:left;
    margin:100px auto;
}